html {
    background: url("https://www.hdcarwallpapers.com/walls/2023_chevrolet_corvette_z06_z07_performance_package_4k_8k_2-HD.jpg") no-repeat, #696e7a;
    background-size: cover;
    background-attachment: fixed;
}

/* .site-title {
    border-radius:
    background-color: #696e7a;
    color: white;
} */

.calc {
    float: left;
}

.calculator {
    /* padding: 15px; */
    border-radius: 2em;
    height: 275px;
    width: 250px;
    margin: auto;
    background-color: #424242;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Times New Roman', sans-serif;
    font-size: large;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.button {
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000b7;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;

}

.button:hover {
    border: 1px solid rgb(204, 204, 204);
    background-color: #4b4b4b;
}

.button:active {
    background: #bebebe;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

/* .scansimage {
    font-family: 'Times New Roman', sans-serif;
    color: white;
    float: left;
    background-color: rgba(255, 255, 255, 0);
    align-content:"right"
}

img {
    display: none;
}

.scansimage:hover img {
    display:flow-root;
    overflow-y: scroll;
} */

.navbar-items /* Important part */
{
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
ul.navbar-items {
    margin-top: 0;
    margin-bottom: 10px;
}